.main-image {
  flex: 0 1 50%;

  & figure{
    & img{
      width: 100%;
      object-fit: none;
      height: auto;
      position: relative;

      @media ($max) {
        object-fit: cover;
        object-position: center;
        height: calc(364 * 100vw / 768);
      }

      @media ($mobile) {
        object-fit: cover;
        object-position: center;
        height: calc(200 * 100vw / 375);
      }
    }
  }

}