.main-content{
    padding: 128px 0 0;

    @media ($max) {
        padding: calc( 64 * 100vw / 768) 0 0;
    }

    @media ($mobile) {
        padding: calc( 64 * 100vw / 375) 0 0;
    }
}

@media ($mobile) {
    .main-content-fix{
        padding: calc( 72 * 100vw / 375) 0 0;
    }
}