.main-section-ul {
  flex-wrap: wrap;

  @media ($max) {
    justify-content: center;
    margin: calc(16 * 100vw / 768) 0 0;
  }

  & li {
    &.main-li{
      margin-left: 25px;

      @media ($max) {
        margin-left: calc(25 * 100vw / 768);
      }
    }

    &:last-child{
      flex: 0 1 100%;
    }

    & svg {
      @media ($max) {
        width: calc(20 * 100vw / 768);
        height: auto;
      }
      @media (max-width: 767px) {
        width: calc(26 * 100vw / 768);
        height: auto;
      }
    }
  }

  & span {
    font-family: 'CmRg', sans-serif;
    display: inline-block;
    margin: 0 5px 0;
    font-size: 19px;
    line-height: 32px;
    color: rgba(0, 0, 0, .5);

    @media ($max) {
      margin: 0 calc(3 * 100vw / 768);
      font-size: calc(19 / 16 * 1rem);
      line-height: calc(24 / 16 * 1rem);
      vertical-align: middle;
    }

    @media (max-width: 767px) {
      font-size: calc(26 * 100vw / 768);
      line-height: calc(30 * 100vw / 768);
    }
  }
}