.main-article {
    text-align: center;
    padding: 64px 0;

    @media ($max) {
        padding: calc(61 * 100vw / 768) 0;
    }

    @media ($mobile) {
        padding: calc(64 * 100vw / 375) 0 0;
    }

    h2{
        font-size: 54px;
        font-family: 'ExpBl';
        text-transform: uppercase;
        margin: 0 0 32px;
        position: relative;
        z-index: 20;

        @media ($max) {
            font-size: calc(34 / 16 * 1rem);
            margin: 0 0 calc(32 * 100vw / 768);
        }

        @media ($mobile) {
            font-size: calc(25 / 16 * 1rem);
            line-height: calc(30 / 16 * 1rem);
            margin: 0 0 calc(32 * 100vw / 375);
        }
    }

    .main-heading p{
        font-family: 'CnRg', sans-serif;
        font-size: 20px;
        line-height: 25px;
        max-width: 45%;
        color: #000;
        margin: 0 auto 64px;
        position: relative;
        z-index: 20;

        @media ($max) {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(20 / 16 * 1rem);;
            margin: 0 auto calc(64 * 100vw / 768);
        }

        @media ($mobile) {
            margin: 0 auto calc(32 * 100vw / 375);
            max-width: 90%;
        }
    }

    .main-heading ul{
        font-family: 'ExtBl', sans-serif;
        font-size: 14px;
        margin: 0 auto 64px;

        @media ($max) {
            font-size: calc(16 / 16 * 1rem);
            margin: 0 auto calc(64 * 100vw / 768);
        }

        @media ($mobile) {
            margin: 0 auto calc(32 * 100vw / 375);
        }
    }

    @media ($min) {
        .main-heading ul{
            display: flex;
            max-width: 35%;
            justify-content: space-between;
        }

        .main-heading-help-1 ul{
            max-width: 70%;
        }

        .main-heading-help-2 ul{
            max-width: 60%;
        }

        .main-heading-help-4 ul{
            max-width: 92%;
        }

        .main-heading-help-5 ul{
            max-width: 70%;
        }

        .main-heading li:after{
            content: "";
            position: absolute;
            width: 16px;
            height: 2px;
            background: #000;
            top: 50%;
            right: -25px;
        }

        .main-heading li:last-child:after{
            content: "";
            display: none;
        }
    }

    .main-heading li{
        position: relative;

        @media ($max) {
            padding: calc(8 * 100vw / 768) 0 calc(32 * 100vw / 768);

            &:last-child{
                padding: calc(8 * 100vw / 768) 0;
            }

            &:before{
                content: "";
                position: absolute;
                width: calc(1 * 100vw / 768);
                height: calc(32 * 100vw / 768);
                background: #000;
                bottom: calc(-5 * 100vw / 768);
                left: 50%;
            }

            &:last-child:before{
                display: none;
            }
        }
        
        @media ($mobile) {
            padding: calc(8 * 100vw / 375) 0 calc(32 * 100vw / 375);

            &:last-child{
                padding: calc(8 * 100vw / 375) 0 calc(18 * 100vw / 375);
            }

            &:before{
                width: calc(1 * 100vw / 375);
                height: calc(32 * 100vw / 375);
                bottom: calc(-5 * 100vw / 375);
            }
        }
    }

    .main-heading{
        position: relative;
        z-index: 20;
    }

    .main-heading .map-wrapper{
        width: 800px;
        height: 400px;
        margin: 0 auto;
    }

    @media ($max) {
        .main-heading .map-wrapper{
            width: calc( 600 * 100vw / 768);
            height: calc( 300 * 100vw / 768);
        }
    }

    @media ($mobile) {
        .main-heading .map-wrapper{
            width: calc( 335 * 100vw / 375);
            height: calc( 180 * 100vw / 375);
        }
    }

    &:before {
        counter-increment: section;
        content: "№"counter(section) "";
        font-family: 'ExpRg', sans-serif;
        font-size: 94px;
        color: $yellow;

        @media ($max) {
            font-size: calc(94 / 16 * 1rem);
            height: calc(118 * 100vw / 768);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        @media ($mobile) {
            height: calc(118 * 100vw / 375);
        }
    }
}