.main-description {
  font-family: 'CnRg', sans-serif;
  font-size: 20px;
  line-height: 25px;
  max-width: 90%;
  color: black;

  @media ($max) {
    font-size: calc(20 / 16 * 1rem);
    line-height: calc(25 / 16 * 1rem);
    width: 80%;
    margin: 0 auto;
  }

  @media ($mobile) {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(20 / 16 * 1rem);
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}