.road-mobile {
    position: absolute;
    top: calc(-430 * 100vw / 375);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(297 * 100vw / 375);
    object-position: center;
    object-fit: none;

    @media screen and (min-width: 768px) {
        display: none;
    }


    & svg {
        width: 100%;
    }
}