@font-face {
    font-family: 'ExtBd';
    src: url('/assets/fonts/subset-GTAmericaLCG-ExtBd.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-ExtBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CnRg';
    src: url('/assets/fonts/subset-GTAmericaLCG-CnRg.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-CnRg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CmRg';
    src: url('/assets/fonts/subset-GTAmericaLCG-CmRg.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-CmRg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ExpLt';
    src: url('/assets/fonts/subset-GTAmericaLCG-ExpLt.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-ExpLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CnBd';
    src: url('/assets/fonts/subset-GTAmericaLCG-CnBd.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-CnBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ExpRg';
    src: url('/assets/fonts/subset-GTAmericaLCG-ExpRg.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-ExpRg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ExtBl';
    src: url('/assets/fonts/subset-GTAmericaLCG-ExtBl.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-ExtBl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ExpBl';
    src: url('/assets/fonts/subset-GTAmericaLCG-ExpBl.woff2') format('woff2'),
        url('/assets/fonts/subset-GTAmericaLCG-ExpBl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

