$max: 'max-width: 1199px';
$min: 'min-width: 1200px';
$mobile: 'max-width: 767px';
$tablet: 'min-width: 768px';

$c-main: #fadf82;
$c-additional: #716EFF;
$c-error: #E25858;
$c-success: #22B030;
$c-text-main: #e7e6e7;

$transition: all .3s ease;
$light: #fff;
$yellow: #FDEC34;
$dark: #000;